<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Developer blog covering all things Python related.">
    <meta name="Author" content="Ryan Butler">
    <meta name="keywords" content="python developer coding programming blog tutorials">
    <link rel="stylesheet" href=https://ryanbutler.online/css/syntax.css>
    <link rel="stylesheet" href=https://ryanbutler.online/css/style.css>
    <script src="https://kit.fontawesome.com/1b7478c139.js" crossorigin="anonymous"></script>
    <title>RBO</title>
  </head><body><aside id="sidenav">
    <header>
    
        <a href=https://ryanbutler.online><img src="https://ryanbutler.online/avatar.png" alt="avatar"></a>
        
    

    <a id="branding" href=https://ryanbutler.online>
        
            RBO
        
    </a>
    </header>

    <nav>
        
            		
            <a href="/"
                
            >
                <i class="fas fa-home fa-sm"></i>
                <span>home</span>
            </a>
        
            		
            <a href="/blog/"
                
            >
                <i class="fas fa-keyboard fa-ms"></i>
                <span>blog</span>
            </a>
        
            		
            <a href="/tags"
                
            >
                <i class="fas fa-tags fa-ms"></i>
                <span>tags</span>
            </a>
        
            		
            <a href="https://github.com/ryanleonbutler"
                
                    target="_blank"
                
            >
                <i class="fab fa-github fa-ms"></i>
                <span>github</span>
            </a>
        
            		
            <a href="/contact"
                
            >
                <i class="far fa-envelope"></i>
                <span>contact</span>
            </a>
        
    </nav>
</aside>
<main id="main">
            <a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>
            <div class="content">
<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"><iframe src="https://giphy.com/embed/YyKPbc5OOTSQE" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>

            </div><footer>
<div class="footer-content">

  <div class="contact-info">
      
          <div class="footer-mail">
          <i class="far fa-envelope"></i> <a href="mailto:ryanleonbutler@gmail.com">ryanleonbutler@gmail.com</a> </div>
      
      
  </div>


<p class="copyright meta">Copyright © 2021, Ryan Butler; all rights reserved.</p>

</div>
</footer></main>
    </body>
    <script src=https://ryanbutler.online/js/navbutton.js></script>
</html>
