{% extends "base.html" %} {% load markdown_extras %} {% block body %}
    <body>
    <main id="main">
        <a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>
        <div class="content">
            <div class="section">
                <div class="section-title"><h2>about</h2></div>
                <div class="list-item">
                    <p>
                        RBO is a developer blog focussing on all things Python. From web frameworks like Django and
                        Flask to popular and useful packages on PyPi.
                        <br><br>
                        You will also find how-to tutorials here on various topics, for example how I deployed this
                        blog. I will also share major news stories surrounding Python and explain my thoughts on these
                        stories.
                        <br><br>
                        Come join me on my journey where you and I will be learning more about my favourite programming
                        language, Python.
                        <br><br>
                        Thank you for your time and support.
                    </p>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}
