<!DOCTYPE html lang="en">
<html>
{% load static %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160973492-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160973492-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Developer blog covering all things Python related">
    <meta name="Author" content="Ryan Butler">
    <meta name="title" content="rbo | developer blog">
    <meta name="keywords" content="python developer coding programming blog tutorials">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="RBO">
    <meta name="twitter:description" content="Developer blog covering all things Python related">
    <meta property="og:title" content="RBO">
    <meta property="og:description" content="Developer blog covering all things Python related"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://ryanbutler.online"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'blog/favicon/favicon.ico' %}">
    <link rel="stylesheet" href={% static 'blog/css/syntax.css' %}>
    <link rel="stylesheet" href={% static 'blog/css/style.css' %}>
    <link rel="stylesheet" href={% static 'blog/css/chaos.css' %}>
    <script src="{% static 'blog/js/1b7478c139.js' %}" crossorigin="anonymous"></script>
    <title>rbo | python developer blog and tutorials </title>
</head>
<body>
<aside id="sidenav">
    <header>
        <a href=https://ryanbutler.online><img src="{% static 'blog/images/avatar.webp' %}" alt="avatar"></a>
        <h1><a id="branding" href=https://ryanbutler.online>rbo</a></h1>
        <h3 id="sub-branding">python developer blog and tutorials</h3>
    </header>
    <nav>
        <a href="/">
            <i class="fas fa-home fa-sm"></i>
            <span>home</span>
        </a>
        <a href="/blog/">
            <i class="fas fa-keyboard fa-ms"></i>
            <span>blog</span>
        </a>
        <a href="https://github.com/ryanleonbutler" target="_blank">
            <i class="fab fa-github fa-ms"></i>
            <span>github</span>
        </a>
        <a href="/contact/">
            <i class="far fa-envelope"></i>
            <span>contact</span>
        </a>
        <a href="/about/">
            <i class="fa fa-info"></i>
            <span>about</span>
        </a>
        <a href="https://www.buymeacoffee.com/ryanonline" target="_blank">
            <i class="fa fa-coffee" aria-hidden="true"></i>
            <span>Buy me coffee!</span>
        </a>
    </nav>
</aside>

{% block body %}{% endblock %}

{#<div class="bmc-button">#}
{#            <a href="https://www.buymeacoffee.com/ryanonline"><img src="{% static 'blog/images/bmc-logo.webp' %}" alt="buy_me_coffee" id="bmcrocker"></a>#}
{#</div>#}

<script src={% static 'blog/js/navbutton.js' %}></script>

</body>
</html>