{% extends "base.html" %} {% load hitcount_tags %} {% load markdown_extras %} {% block body %}
    <body>
    <main id="main">
        <a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>
        <div class="content">
            <div class="section">
                <div class="section-title">contact</div>
                <div class="list-item">
                    <a href="https://github.com/ryanleonbutler" target="_blank">
                        <i class="fab fa-github fa-ms"></i>
                        <span>github</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="https://www.linkedin.com/in/ryanleonbutler/">
                        <i class="fa fa-linkedin-square"></i>
                        <span>Linkedin</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="https://twitter.com/ryanleonbutler">
                        <i class="fa fa-twitter-square"></i>
                        <span>Twitter</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="https://dev.to/ryanleonbutler">
                        <i class="fa fa-code"></i>
                        <span>dev.to</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="mailto:ryanleonbutler@gmail.com">
                        <i class="fa fa-envelope-o"></i>
                        <span>Email</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="https://www.buymeacoffee.com/ryanonline">
                        <i class="fa fa-coffee"></i>
                        <span>Buy me coffee</span>
                    </a>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}
