{% extends "base.html" %} {% load markdown_extras %} {% block body %}
    <main id="main">
        <a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>
        <div class="content">
            <div class="section">
                <h2 style="text-align: center">welcome to rbo</h2>
            </div>
            <div class="section">
                <div class="section-title"><h2>recent blog posts</h2></div>
                {% for post in posts|slice:":3" %}
                    <div class="list-item">
                        <h3><a class="entry-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <div class="meta">
                            <i class="far fa-calendar-alt"></i>{{ post.publish_date.date }}
                            <br>
                            <i class="fas fa-tags"></i>
                            {% for category in post.categories.all %}
                                <a href="{% url 'posts_category' category.name %}">{{ category.name }}</a>
                            {% endfor %}
                            <br>
                            <p> {{ post.preview }}...</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="section">
                <div class="section-title"><h2>recent py-nibbles</h2></div>
               {% for nibble in nibbles|slice:":3" %}
                   <div class="list-item">
                       <h3><a class="entry-title" href="{{ nibble.get_absolute_url }}">{{ nibble.title }}</a></h3>
                       <div class="meta">
                           <i class="far fa-calendar-alt"></i>{{ nibble.publish_date.date }}
                           <br>
                           <i class="fas fa-tags"></i>
                           {% for category in nibble.categories.all %}
                               <a href="{% url 'nibbles_category' category.name %}">{{ category.name }}</a>
                           {% endfor %}
                           <br>
                           <p> {{ nibble.preview }}...</p>
                       </div>
                   </div>
               {% endfor %}
            </div>
            <div class="section">
                <div class="section-title"><h2>github projects</h2></div>
                    <div class="list-item">
                        {{ form.media }}
                        {{ "[![rbo card](https://github-readme-stats.vercel.app/api/pin/?username=ryanleonbutler&repo=rbo&theme=dark)](https://github.com/ryanleonbutler/rbo)     [![black_star card](https://github-readme-stats.vercel.app/api/pin/?username=ryanleonbutler&repo=black_star&theme=dark)](https://github.com/ryanleonbutler/black_star)     [![getitdone card](https://github-readme-stats.vercel.app/api/pin/?username=ryanleonbutler&repo=getitdone&theme=dark)](https://github.com/ryanleonbutler/getitdone)" | markdown | safe }}
                    </div>
            </div>
        </div>
    </main>
   <!-- <footer>
       <div class="footer-content">
           <p class="copyright meta">Copyright © 2021, Ryan Butler; all rights reserved.</p>
       </div>
   </footer> -->
{% endblock %}
