{% extends "base.html" %} {% load hitcount_tags %} {% load markdown_extras %} {% block body %}
    <body>
    <main id="main">
        <a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>
        <div class="content">
            <div class="section">
                <h3><div class="section-title">recent posts</div></h3>
                {% for post in post_list|slice:":3" %}
                    <div class="list-item">
                        <a class="entry-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        <div class="meta">
                            <i class="far fa-calendar-alt"></i>{{ post.publish_date.date }}
                            <br>
                            <i class="fas fa-tags"></i>
                            {% for category in post.categories.all %}
                                <a href="{% url 'post_category' category.name %}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="section">
                <h3><div class="section-title">github repos</div></h3>
                    <div class="list-item">
                        {{ form.media }}
                        {{ "[![Black Star Card](https://github-readme-stats.vercel.app/api/pin/?username=ryanleonbutler&repo=black_star&theme=dark)](https://github.com/ryanleonbutler/black_star)   [![getitdone Card](https://github-readme-stats.vercel.app/api/pin/?username=ryanleonbutler&repo=getitdone&theme=dark)](https://github.com/ryanleonbutler/getitdone)" | markdown | safe }}
                    </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}
