{% extends "base.html" %} {% load hitcount_tags %} {% load markdown_extras %} {% block body %}
    <body>
    <main id="main">
        <a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>
        <div class="content">
            <div class="section">
                <h2><div class="section-title">recent posts</div></h2>
                {% for post in post_list %}
                    <div class="list-item">
                        <h3>
                            <a class="entry-title" href="{{ nibble.get_absolute_url }}">{{ nibble.title }}</a>
                        </h3>
                {% endfor %}
                    </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}