{% extends "base.html" %} {% load hitcount_tags %} {% load markdown_extras %} {% block body %}
    <body>
    <main id="main">
        <a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>
        <div class="content">
            <div class="section">
                <h3><div class="section-title">py-nibbles</div></h3>
                <div class="list-item">
                    <h1 style="text-align: center">coming soon...</h1>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}
