{% extends "base.html" %} {% load markdown_extras %} {% block body %}
    <body>
    <main id="main">
        <a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>
        <div class="content">
            <div class="section">
                <div class="section-title">tags</div>
                {% for nibble in nibbles %}
                    <div class="list-item">
                        <a class="entry-title" href="{{ post.get_absolute_url }}">{{ nibble.title }}</a>
                        <div class="meta">
                            <i class="far fa-calendar-alt"></i>{{ nibble.publish_date.date }}
                            <br>
                            <i class="fas fa-tags"></i>
                            {% for category in nibble.categories.all %}
                                <a href="{% url 'nibbles_category' category.name %}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    </body>
{% endblock %}