{% extends "base.html" %} {% load markdown_extras %} {% block body %}

<main class="main">
    <header class="page-header">
        <h2>Posts</h2>
    </header>

    {% for post in posts %}
    <article class="post-entry">
        <header class="entry-header" >
            <h3>{{ post.title }}</a></h3>
        </header>
        <section class="entry-content">
            <p> {{ post.preview }}...</p>
        </section>
        <footer class="entry-footer"><span> {{ post.publish_date | date:'d M Y' }}</span>&nbsp;·&nbsp;{{ post.read_time }}min&nbsp;·&nbsp;
            {% for tag in post.tags.all %}
                {{ tag.name }}&nbsp;
            {% endfor %}
        </footer>
        <a class="entry-link" aria-label=" {{ post.title }} " href="{{ post.get_absolute_url }}""></a>
    </article>
    {% endfor %}
</main>

{% endblock %}