{% extends "base.html" %} {% block body %}

{% load static %}

<main class="main">
    <header style="display: flex; flex-wrap: wrap; justify-content: left; margin-top: 10px; margin-bottom: 25px; align-items: center;">
        <div><img style="width: 100px; border-radius: 50px; margin-right: 25px;" src="{% static 'resume/avatar.jpg' %}">
        </div>
        <div style="margin-right: 50px">
            <h2>Ryan Butler</h2>
            <h4>Python and AWS Developer</h3>
                <span><a href="https://github.com/ryanleonbutler/">GitHub</a></span>
                <span> | <a href="https://linkedin.com/in/ryanleonbutler/">LinkedIn</a></span>
        </div>
        <div class="resume-certs">
            <img src="https://images.credly.com/size/680x680/images/98466bc2-11cb-4b17-8a08-1c7e8349adce/image.png"
                alt="CloudFront Subject Matter Expert">
            <img src="https://images.credly.com/size/680x680/images/bd31ef42-d460-493e-8503-39592aaf0458/image.png"
                alt="DevOps Professional">
            <img src="https://images.credly.com/size/680x680/images/2d84e428-9078-49b6-a804-13c15383d0de/image.png"
                alt="Solutions Architect Professional">
            <img src="https://images.credly.com/size/680x680/images/0e284c3f-5164-4b21-8660-0d84737941bc/image.png"
                alt="Developer Associate">
            <img src="https://images.credly.com/size/680x680/images/b9feab85-1a43-4f6c-99a5-631b88d5461b/image.png"
                alt="Solutions Architect Associate">
        </div>
    </header>


    <div class="resume-category">

        <div id="skills">
                    <h2>Skills</h2>
                    <pre><code class="language-python">
def skills():
    for skill in skills:
        if skill in ["Python", "AWS", "Bash", "Unix/Linux"]:
            print("Professional")
        elif skill in ["JavaScript", "HTML", "CSS"]:
            print("Intermediate")
                    </code></pre>
        </div>

        <h2>Experience</h2>
        <div class="resume-category-sub-element">
            <h3>Amazon Web Services</h3>
            <span>Senior Cloud Support Engineer</span>
            <span>04.2018 - Present</span>
            <p>Supporting customers on AWS Services. Training and mentoring of peers.
                Interviewing. Software development on multiple internal projects and tools
                (Python and NodeJS). Promoted four times from Associate to Senior Engineer.</p>
        </div>

        <div class="resume-category-sub-element">
            <h3>NOSA PTY LTD</h3>
            <span>Group IT Manager</span>
            <span>09.2011 - 03.2018</span>
            <p>IT Manager for the NOSA Group of companies. The department overseas software
                installations, architectural implementation of software and software support to clients.
                We provide all internal IT support as well as systems administration of internal
                management information systems. Promoted from Software Support to Group IT Manager.</p>
        </div>

        <div class="resume-category-sub-element">
            <h3>University of Pretoria</h3>
            <span>Support Technician</span>
            <span>09.2007 - 11.2010</span>
            <p>First line IT support to students from the university. Maintenance, upkeep and security
                of computer lab environment.</p>
        </div>

        <h2>Projects</h2>
        <div class="resume-category-sub-element">
            <h3>Internal Webhook Message Delivery System</h3>
            <span>2020 - Present</span>
            <p>Aggregates data from multiple sources and delivers live smart messages to Slack and Chime
                webhooks in a digestible format in order to react or make informative decisions quickly.
                Built on Linux, Bash, Python, Amazon DynamoDB, Slack and Chime</p>
        </div>

        <div class="resume-category-sub-element">
            <h3>Developer Blog</h3>
            <span>2020 - Present</span>
            <p>Designed a Developer Blog to share my knowledge and growth as a developer. Built using
                Django, Gunicorn, NGINX, EC2, CloudFront.</p>
        </div>
        <div class="resume-category-sub-element">
            <h3>Continuous Delivery Pipeline (CD)</h3>
            <span>2020 - Present</span>
            <p>Create a CD Pipeline to automatically apply changes to my personal blog in production
                when making changes and integrates with GitHub Actions. Used AWS services - CodePipeline and
                CodeDeploy.</p>
        </div>

        <div id="education">
            <h2>Education</h2>
            <div class="resume-category-sub-element">
                <h3>AWS - Certifications (2021)</h3>
                <span>SA and DevOps Pro.</span><br>
                <span>SA and Developer Ass.</span><br>
            </div>
            <div class="resume-category-sub-element">
                <h3>Python Programming (2017 - 2022)</h3>
                <span>Linux Academy / A Cloud Guru / Hackerank</span><br>
            </div>
            <div class="resume-category-sub-element">
                <h3>LPI - Essentials (2016)</h3>
                <span>Linux Professional Institute</span><br>
            </div>
            <div class="resume-category-sub-element">
                <h3>Matric (2006)</h3>
                <span>DR. E.G. Jansen</span><br>
            </div>
        </div>

        <div id="languages">
            <h2>Languages</h2>
            <div class="resume-category-sub-element">
                <h3>Afrikaans
                    <span> - Native</span>
                </h3>
            </div>
            <div class="resume-category-sub-element">
                <h3>English
                    <span> - Professional</span>
                </h3>
            </div>
        </div>

        <div id="awards">
            <h2>Awards</h2>
            <div class="resume-category-sub-element">
                <h3>Engineer of the Quarter (Q3)</h3>
                - 2020
            </div>
            <div class="resume-category-sub-element">
                <h3>Amazon CloudFront - SME</h3>
                - 2019
            </div>
        </div>


        <div id="interests">
            <h2>Interests</h2>
            <div class="resume-category-sub-element">
                <li>Web and API Development</li>
                <li>Automation & Data Science</li>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}